<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 
  <display-name>newShop</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>AddItem</servlet-name>
  	<!--  <display-name>AddItem</display-name>
  	<description></description>-->
  	<servlet-class>com.vijani.newShop.servlet.AddItem</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>GetItems</servlet-name>
  	<!--  <display-name>GetItems</display-name>
  	<description></description>-->
  	<servlet-class>com.vijani.newShop.servlet.GetItems</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AddItem</servlet-name>
  	<url-pattern>/AddItem</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>GetItems</servlet-name>
  	<url-pattern>/GetItems</url-pattern>
  </servlet-mapping>
  
</web-app>